/*!
 * Custom CSS for jcazevedo.net
 */

.sidebar {
  background-color: #fff;
  text-align: right;
  min-height: 100%;
  min-width: 266px;
  position: fixed;
  padding-top: 30px;
  padding-right: 28px;
  padding-left: 20px;
  border-right: 3px solid #ddd;
  z-index: 1;
  font-family: 'Source Sans Pro', sans-serif;
}

.sidebar h1 {
  color: black;
  font-size: 38px;
  margin-bottom: 40px;
}

.sidebar a {
  text-decoration: none;
  color: #AAA;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}

.sidebar a:hover {
  text-decoration: none;
  color: black;
}

.sidebar ul {
  padding: 0;
  margin: 0;
  display: block;
  line-height: 40px;
}

.sidebar li {
  list-style-type: none;
  font-size: 25px;
  height: 40px;
  vertical-align: middle;
  font-weight: bold;
}

.sidebar .icons {
  margin-top: 25px;
}

.content {
  background-color: white;
  min-width: 350px;
  position: relative;
  padding-top: 80px;
  padding-left: 345px;
  padding-right: 28px;
  font-size: 16px;
  line-height: 28px;
  text-align: justify;
  padding-bottom: 40px;
  font-family: 'PT Sans', sans-serif;
}

.content li, dt, dd {
  line-height: 28px;
  text-align: -webkit-match-parent;
}

.content a {
  text-decoration: none;
  border-bottom: solid 2px #CCC;
  color: black;
}

.content a:hover {
  border-bottom: solid 2px black;
}

.content h1 {
  margin-top: 40px;
  margin-left: -28px;
  padding-left: 28px;
  margin-right: -28px;
  padding-right: 28px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 28px;
  font-size: 24px;
}

.content h2, h3, h4, h5, h6 {
  margin-top: 28px;
}

.content h2 {
  font-size: 22px;
}

.content h3 {
  font-size: 20px;
}

.content h4 {
  font-size: 18px;
}

.content h5 {
  font-size: 16px;
}

.content h6 {
  font-size: 14px;
}

.content .meta {
  margin-left: 10px;
  margin-right: 10px;
  display: inline;
  color: #DDD;
}

.content #disqus_thread {
  margin-top: 28px;
}

.content h1 a {
  border: 0;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}

.content h1 a:hover {
  color: #CCC;
  border: 0;
}

.content .date {
  color: #999;
  font-family: 'Inconsolata', Monaco, 'Courier', 'Courier New', monospace;
  margin-right: 8px;
}
