---
layout: main
title: Archive
---

<h1>Archive</h1>

<p>
  The following is a list of things I have written for this website.
</p>

<div class="archive-posts">
  {% for post in site.posts %}
  {% unless post.next %}
  <h2>{{ post.date | date: '%B %Y' }}</h2>
  {% else %}
  {% capture month %}{{ post.date | date: '%B' }}{% endcapture %}
  {% capture nmonth %}{{ post.next.date | date: '%B' }}{% endcapture %}
  {% if month != nmonth %}
  <h2>{{ post.date | date: '%B %Y' }}</h2>
  {% endif %}
  {% endunless %}

  {% include post_link.html post=post %}
  {% endfor %}
</div>
