<!DOCTYPE html>
<html lang="en">
  <head>
    <title>jcazevedo.net | {{ page.title }}</title>
    {% include meta.html %}
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        {% include sidebar.html %}
      </div>

      <div class="content">
        <div class="row-fluid">
          {{ content }}
        </div>
      </div>
    </div>

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap-transition.js"></script>
    <script src="/js/bootstrap-alert.js"></script>
    <script src="/js/bootstrap-modal.js"></script>
    <script src="/js/bootstrap-dropdown.js"></script>
    <script src="/js/bootstrap-scrollspy.js"></script>
    <script src="/js/bootstrap-tab.js"></script>
    <script src="/js/bootstrap-tooltip.js"></script>
    <script src="/js/bootstrap-popover.js"></script>
    <script src="/js/bootstrap-button.js"></script>
    <script src="/js/bootstrap-collapse.js"></script>
    <script src="/js/bootstrap-carousel.js"></script>
    <script src="/js/bootstrap-typeahead.js"></script>
    <script src="/js/bootstrap-affix.js"></script>
  </body>
</html>
