<!doctype html>
<html lang="en">
    <head>
        <title>{{ page.title }} - jcazevedo.net</title>
        {% include meta.html %}
    </head>
    <body>
        <div class="content container">
            <div class="header">
                {% include header.html %}
            </div>
            <div class="body">
                <div class="post">
                    <h1 class="post-title">{{ page.title }}</h1>
                    <span class="post-extra-header">{{ page.date | date: "%B %-d, %Y" }}</span>
                    {{ content }}
                </div>

                <div class="pagination">
                    {% if page.previous.url %}
                    <a class="pagination-item older" href="{{page.previous.url}}">&laquo; Previous</a>
                    {% else %}
                    <span class="pagination-item older">&laquo; Previous</span>
                    {% endif %}
                    <a class="pagination-item archive" href="/posts">All</a>
                    {% if page.next.url %}
                    <a class="pagination-item newer" href="{{page.next.url}}">Next &raquo;</a>
                    {% else %}
                    <span class="pagination-item newer">Next &raquo;</span>
                    {% endif %}
                </div>
            </div>
            <div class="footer">
                {% include footer.html %}
            </div>
        </div>
    </body>
</html>
