<!doctype html>
<html lang="en">
    <head>
        <title>{{ page.title }} - jcazevedo.net</title>
        {% include meta.html %}
    </head>
    <body>
        <div class="content container">
            <div class="header">
                {% include header.html %}
            </div>
            <div class="body">
                <div class="post">
                    <h1 class="post-title">{{ page.title }}</h1>
                    <span class="post-extra-header">{{ page.date | date: "%B %-d, %Y" }}</span>
                    {{ content }}
                </div>
            </div>
            <div class="footer">
                {% include footer.html %}
            </div>
        </div>
    </body>
</html>
